/* Color scheme */
:root {
    --burnt-siena: #d98162;
    --peach: #f2b591;
    --blizzard: #bbe2f2;
    --rich-black: #141a26;
    --space-cadet: #192033;
    --white: #f2f2f2;
    --gray: #e2e2e2;
    --asparagus: #629460;
    --pear: #d0e562;
}


/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    color: var(--rich-black);
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: var(--space-cadet);
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    color: var(--white);
    font-weight: bold;
}

header img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--gray);
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 10px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: var(--space-cadet);
    color: var(--gray);
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

footer {
    color: var(--space-cadet);
}

/* Code Highlighting */

pre {
    margin-bottom: 1.5em;
    background-color: var(--space-cadet);
    padding: 16px 0;
    border-radius: 16px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color: var(--gray);
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: #e73289;
}

pre code .type {
    color: var(--pear);
}

pre code .call {
    color: var(--blizzard);
}

pre code .property {
    color: var(--asparagus);
}

pre code .number {
    color: var(--burnt-siena);
}

pre code .string {
    color: var(--peach);
}

pre code .comment {
    color: var(--gray);
}

pre code .dotAccess {
    color: var(--asparagus);
}

pre code .preprocessing {
    color: var(--gray);
}

/* Media Queries */

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}
